* {
  box-sizing: border-box;
  color: black;
}

body {
 
  background: linear-gradient(to right, orange,red);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0;
   
}

input {

 padding: 20px 20px;
 width: 400px;
 height: 10px;
 font-weight: bold;
 background-color: lightsalmon;
 
}

.search-container {
position: relative;
width: 400px

}


ul {
  position: absolute; 
  top: 100%; 
  left: 0;
  right: 0; 
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: lightsalmon;
  max-height: 250px;
  overflow-y: auto; 
  
 
  
}

ul li {
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: lightsalmon;
  padding-left: 10px;
}

ul li:hover {
  background-color: orangered;
  cursor: pointer;
}

